* {
    transition: all .2s ease-in-out;
}

html {
    /* font-family: sans-serif; */
    font-family: Helvetica, Arial, sans-serif
}

body {
    margin: 0;
    /* transition: all .1s ease-in-out; */
}

hr {
    width: 40px; 
    margin: 0 auto 3px auto;
}
.detail-section {
    padding-top: 30px;
}
.detail-section > section {
    font-size: 2.5rem;
    display: inline-block;
    letter-spacing: 0;
    width: 100px;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    padding: 20px;
    /* margin-top: 30px; */
    /* font-weight: 400; */
}

.detail-section > section > div {
    font-size: .5em;
    /* background-color: purple; */
}


/* CREATE PLUS AND MINUS SIGNS */

.minus-sign {
    border-top: 2px solid green;
    /* margin-left: 300px; */
    /* margin-top: 300px; */
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-bottom: -7px;
    /* border-left: 2px solid green; */
    /* margin-left: 2px; */
    /* border-top: 40px solid transparent; */
    /* border-bottom: 40px solid transparent;  */
}

.plus-sign {
    border-left: 2px solid green;
    /* margin-left: 300px; */
    /* margin-top: 300px; */
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: -7px;
}





/* @ @media query 767px to transition between phone and desktop */
/* NO NEED FOR GRID */
/* Check work and adjust grid to work with all browsers include IE */

@media screen and (max-width: 767px){
    html {
        font-size: 12px;
    }
    .detail-section {
        padding-top: 0;
    }
    .detail-section > section {
        /* font-size: 2.5rem; */
        /* display: inline-block; */
        /* letter-spacing: 0; */
        width: 60px;
        /* margin-top: 30px; */
        /* font-weight: 400; */
    }
}