section {
    padding: 8px;
}

p {
    padding: 20px;
    width: 80vw;
    margin: 0 auto;
    /* transition: all .5s ease-in-out; */
}


#container {
    margin: 100px auto;
    text-align: center;
    height: 100vh;
}

.title, .details, .active {
    /* transition-duration: 5s; */
    /* transition: all .5s ease-in-out; */
    /* transform: all 5s; */
    width: 20vw;
    text-align: center;
}
.title .details {
    display: none;
}
.title {
    margin: 0 -3px;
    background-color: #fff;
    display: inline-block;
    border: 1px solid #000;
    font-weight: 600;
    letter-spacing: 1px;
}
.title > section:hover {
    cursor: pointer;
    background-color: rgb(211, 211, 211);
}
.active .details {
    position: absolute;
    display: block;
    width: 100vw;
    left: 0;
}
.details {
    color: #000;
    font-weight: 400;
    /* background-color: purple; */
}
.active {
    background-color: #000;
    color: #fff;

}

.plus {
    display: none
}

.minus {
    display: none;
}


@media screen and (max-width: 767px){
    section {
        padding: 16px;
        display: inline-block;
    }
    p {
        padding: 10px 20px 30px 20px;
        width: 80vw;
        margin: 0 auto;
    }

    #container {
        margin: 0;
        text-align: justify;
    }
    .title, .details, .active {
        /* transition-duration: 5s; */
        /* transition: all 5s ease-in-out; */
        /* transform: all 5s; */
        width: 100vw;
    }
    .title .details {
        display: none;
    }
    .title {
        margin: 0;
        /* font-weight: bold; */
        /* letter-spacing: 1px; */
        /* background-color: #fff; */
        /* display: inline-block; */
        border-right: none;
        border-top: none;
        border-left: none;
        border-bottom: 1px solid #000;
        /* font-size: .8rem; */
        /* padding: 10px; */
        text-align: left;
    }
    .title > section:hover {
        cursor: pointer;
        background-color: none;
    }
    .title:hover {
        background-color: lightgray;
        /* cursor: pointer; */
    }
    .active .details {
        display: inline-block;
        position: relative;
    }
    .details {
        /* background-color: blue; */
    }
    .active {
        background-color: #fff;
        color: #000;
        height: calc(100vh - 93px)
    }
    .active > .plus {
        display: inline-block;
    }
    .active .plus {
        display: none;

    }
    .active .minus {
        position: relative;
        display: inline-block;
        float: right;
        margin: 16px 22px 16px 16px;
        max-width: 20px;
    }
    


    .plus {
        position: relative;
        display: inline-block;
        float: right;
        margin: 16px;
        max-width: 20px;
    }
}